/*font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;*/
/* background: #F5F4FA; вторичный цвет фона
#2196F3 blue
#000000
#757575 - p color 
#FFFFFF 
#212121 */ 

:root {
  --accent-color: #2196F3;
  --primary-text-color:#757575;
  --title-text-color:#212121;
  --primary-white-color:#FFFFFF;
  --secondary-black-color:#000000;
  --secondary-grey-color:#F5F4FA;
  --main-font-style:'Roboto', sans-serif;
  --font-size-small:14px;
  --font-size-medium:16px;
  --font-size-xl:36px;
}

body {
    font-family: var(--main-font-style),
    '-apple-system', 'BlinkMacSystemFont',
    'avenir next', 'avenir', 'segoe ui', 'helvetica neue', 
    'helvetica', 'Ubuntu', 'noto', 'arial', sans-serif;
    font-size: var(--font-size-small);
    color: var(--title-text-color);

    background-color: var(--secondary-grey-color);
}


.common-ul {
    list-style-type: none;
   }

/*header*/

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--secondary-black-color);
}

.logo span {
    color: var(--accent-color);
}

.common-link{
    text-decoration: none;
}

.link {
    font-weight: 500;
    line-height: 1.15;
    letter-spacing: 0.02em;
}
.nav-link {
    color: var(--title-text-color);

}


.contacts-link {
    color: var(--primary-text-color);
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: var(--accent-color);
}

/* Intro*/


.intro-header {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white-color);
}

.button {
    cursor: pointer;
}
.intro-btn {
    font-weight: 700;
    font-size: var(--font-size-medium);
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);

    background-color: var(--accent-color);
}

/* Features */

.features-desc{
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.features-title {
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

/* What we  do*/

.title {
    font-weight: 700;
    font-size: var(--font-size-xl);
    line-height: 1.16;
    letter-spacing: 0.03em;
}

/*  Our team */

.team {
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

.team-title {
    font-weight: 500;
}

.team-prof {
    color: var(--primary-text-color);
}


/* Footer */

.footer-logo {
    color: var(--primary-white-color);
}

.adress {
    font-style: normal;
}

.main-adress {
    color: var(--primary-white-color);
}

.adress-link {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}


/* portfolio */

.portfolio-list {
    font-size: var(--font-size-medium);
    line-height: 1.87;
    letter-spacing: 0.03em;
}

.portfolio-desc{
    color:var(--primary-text-color);
}

.portfolio-btn {
    font-weight: 500;
    font-size: var(--font-size-medium);
    line-height: 1.62;
    letter-spacing: 0.03em;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    color: var(--primary-white-color);

    background-color: var(--accent-color);
}

.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}